<app-navigation></app-navigation>

<div class="page-container">

<app-left-navigation></app-left-navigation>


<div class="uk-padding">



<div class="uk-container uk-margin-top">

<div *ngIf="friend; else block" class="uk-position-relative">

    <p class="uk-card uk-text-muted uk-text-bolder">{{ friend?.name }}</p>

    <main #messagesMain id="messages" class="uk-padding-small" uk-height-viewport="expand: true">
        <ul class="uk-list uk-list-divider">
            <li *ngFor="let message of messages; let last = last;">
                {{last ? scrollToBottom() : ''}}
                <div class="uk-card uk-padding-small" [ngClass]="{'uk-margin-bottom': last === last}">
                    <div class="">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <p class="uk-margin-remove-bottom">
                                    <span *ngIf="message.user == user.id; else showFriendName" class="uk-text-bolder">{{ user.full_name }}</span>
                                    <ng-template #showFriendName><span class="uk-text-bolder">{{ friend.name }}</span></ng-template>

                                    <span class="uk-text-meta uk-margin-small-left">{{ message.date_time }}</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin-small-top">
                        <p class="uk-text-small uk-margin-remove-bottom">{{ message.message }}</p>
                    </div>
                </div>
            </li>
        </ul>
    </main>


        <div class="uk-margin-top uk-inline" id="chat-input-component-id"> 
            
            <!-- <input class="uk-input" type="text" placeholder="Input"> -->
            <form [formGroup]="messageForm" (ngSubmit)="messageFormSubmit()">
                <button id="send-message-btn" type="submit" class="uk-button-primary uk-form-icon uk-form-icon-flip" href="" uk-icon="icon: chevron-right"></button>
                <input #messageInput formControlName="message" id="chat-message-input" class="uk-input" type="text" placeholder="Send message">
            </form>
        
        </div>



    <div>

</div>

</div>

<ng-template #block>Select or <a>add a friend</a> to get started.</ng-template>


</div>
</div>

</div>

<!-- Reservation form -->
<!-- <app-reservation-form></app-reservation-form> -->







