<div class="uk-section banner">
    <div class="uk-container">

        <h1 class="title">frontend</h1>

        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
            <div>
              
            </div>
        </div>

    </div>
</div>

<div class="uk-container uk-margin-top">

        <div>
            <button class="uk-button uk-button-large add-btn" type="button" uk-toggle="target: #modal-sections"> <span uk-icon="icon: plus; ratio: 1"></span>&nbsp; New Person</button>
        </div>
    
            <h3 class="uk-text-light heading-3"><span uk-icon="icon: calendar; ratio: 2"></span>&nbsp;Dashboard</h3>
    
            <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
                <div>
                  
                </div>
            </div>
    

<!-- Upcoming reservations table -->
<table class="uk-table uk-table-responsive uk-table-divider">
    <thead>
        <tr>
            <th>Person</th>
            <th>Time</th>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
        </tr>
        <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
        </tr>
        <tr>
            <td>Table Data</td>
            <td>Table Data</td>
            <td>Table Data</td>
        </tr>
    </tbody>
</table>

</div>

<!-- Reservation form -->
<app-reservation-form></app-reservation-form>






