#messages {
    background-color: #F2F2F2;
    overflow: scroll;
    max-height: 0;
    border-radius: 5px;
}

#chat-input-component-id {
    width: 100%;
}

#send-message-btn {
    background-color: #2E97F2;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}



#chat-message-input {
    border-radius: 5px;
}

.messageActionDropDown {
    border-radius: 5px !important;
}

#selectPersonList {

}

#selectPersonList:hover{
    cursor: pointer;
    color: #3EB489;
}

/* f */
#personListCard {
    overflow:scroll
}

