

<div class="uk-container uk-margin-top">

<div *ngIf="friend; else block" class="uk-position-relative">

    <p class="uk-card uk-text-muted uk-text-bolder">{{ friend?.name }}</p>

    <main id="messages" class="uk-padding-small" uk-height-viewport="expand: true">


        <ul class="uk-list uk-list-divider">
            <li *ngFor="let message of messages">
                <div class="uk-card uk-padding-small">
                    <div class="">
                        <div class="uk-grid-small uk-flex-middle" uk-grid>
                            <div class="uk-width-expand">
                                <p class="uk-margin-remove-bottom"><span class="uk-text-bolder">{{ message.person_display_name }}</span> <span class="uk-text-meta uk-margin-small-left">{{ message.date_time }}</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="uk-margin-small-top">
                        <p class="uk-text-small uk-margin-remove-bottom">{{ message.message }}</p>
                    </div>
                </div>
            </li>
            
        
        </ul>
    
    
    </main>


        <div class="uk-margin-top uk-inline" id="chat-input-component-id"> 
            
            <!-- <input class="uk-input" type="text" placeholder="Input"> -->
            <form [formGroup]="messageForm" (ngSubmit)="messageFormSubmit()">
                <button id="send-message-btn" type="submit" class="uk-button-primary uk-form-icon uk-form-icon-flip" href="" uk-icon="icon: chevron-right"></button>
                <input formControlName="message" id="chat-message-input" class="uk-input" type="text" placeholder="Send message">
            </form>
        
        </div>



    <div>




</div>

</div>

<ng-template #block>Select or <a>add a friend</a> to get started.</ng-template>

<!-- Reservation form -->
<!-- <app-reservation-form></app-reservation-form> -->







