<aside class="sidebar" uk-height-viewport>

    <div class="uk-margin-top">

        <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>

            <div>
                <p id="contacts-heading" class="uk-text-bolder">My Contacts </p>
                
            </div>

            <div class="uk-text-right">
                <a href="#" class="uk-icon-link uk-margin-right" uk-icon="file-edit"></a>
            </div>
     
        </div>

    <ul class="uk-list uk-list-divider uk-margin-left uk-margin-top">
        <li class="uk-text-small"><span class="dot-online uk-margin-small-right"></span>Chavez Harris</li>
        <li class="uk-text-small"><span class="dot-online uk-margin-small-right"></span>Suzan Falls</li>
        <li class="uk-text-small"><span class="dot-offline uk-margin-small-right"></span>Bradley Johnson</li>
    </ul>
</div>


        
</aside>
