<aside class="sidebar" uk-height-viewport>

    <div class="uk-margin-top">

        <div class="uk-grid-collapse uk-child-width-expand@s uk-text-center" uk-grid>

            <div>
                <p id="contacts-heading" class="uk-text-bolder">My Contacts</p>
                
            </div>

            <div class="uk-text-right">
                <a uk-toggle="target: #modal-sections" class="uk-icon-link uk-margin-right" uk-icon="file-edit"></a>
            </div>
     
        </div>
  
    <ul class="uk-list uk-list-divider uk-margin-left uk-margin-top">
        <li *ngFor="let friend of friends; let i = index"
            [ngClass]="{'active': friend.selected}"
            (click)="setCurrentFriend(friend, i)" class="uk-text-small left-nav-friend">
        
            <div> <span [ngClass]="{ 'dot-online': friend.available == true, 'dot-offline': friend.available == false }" class="uk-margin-small-right"></span>
                <span>{{ friend.name }}</span>

                <span>

                    <a class="uk-margin-small-left" type="button"><span uk-icon="more"></span></a>
                    <div class="messageActionDropDown uk-padding-small" uk-dropdown>
                        <ul class="uk-nav uk-dropdown-nav">
                            
                            <li><a (click)="deleteFriend(friend.friend_id, i)"><span class="uk-margin-small-right" uk-icon="icon: ban; ratio: 1"></span>
                                Unfriend</a></li>
                            

                        </ul>
                    </div>
                </span>
                
                
                
                <span id="{{ friend.user_id }}" class="notification uk-margin-small-left"></span>
            
            </div>
            <div class="uk-margin-left"><small class="uk-text-muted">{{ friend.status }}</small></div>
            
        </li>
    </ul>
</div>


        
</aside>
