#contacts-heading {
    color: #0D7AD9;
}

/* Friend status */

.dot-online {
    height: 10px;
    width: 10px;
    background-color: limegreen;
    border-radius: 50%;
    display: inline-block;
  }

  .dot-offline {
    height: 10px;
    width: 10px;
    background-color: lightgray;
    border-radius: 50%;
    display: inline-block;
  }

  .left-nav-friend {
    cursor: pointer;
  }

.active {
    font-weight: bolder;
}

.notification:not(:empty) {
  box-sizing: border-box;
  min-width: 18px;
  height: 18px;
  padding: 0 5px;
  border-radius: 500px;
  vertical-align: middle;
  background: #1e87f0;
  color: #fff !important;
  font-size: 11px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}