<aside class="sidebar uk-visible@s" uk-height-viewport>
    <div class="uk-margin-top">
   
    <p id="contacts-heading" class="uk-text-bolder uk-margin-left">My Friends</p>

    <ul *ngIf="friends?.length > 0; else noFriends" class="uk-list uk-list-divider uk-margin-left uk-margin-top">
       
        <li *ngFor="let friend of friends; let i = index"
            [ngClass]="{'active': friend.selected}"
             class="uk-text-small left-nav-friend">
            <div> <span [ngClass]="{ 'dot-online': friend.available == true, 'dot-offline': friend.available == false }" class="uk-margin-small-right"></span>
                <span (click)="setCurrentFriend(friend, i)" class="friend-name">{{ friend.name }}</span>
                <span>
                    <a mode='click' class="uk-margin-small-left" type="button"><span uk-icon="more"></span></a>
                    <div class="messageActionDropDown uk-padding-small" uk-dropdown>
                        <ul class="uk-nav uk-dropdown-nav">
                            <li><a (click)="deleteFriend(friend.friend_id, i)"><span class="uk-margin-small-right" uk-icon="icon: ban; ratio: 1"></span>
                                Unfriend</a></li>  
                        </ul>
                    </div>
                </span>
                <span id="{{ friend.user_id }}" class="notification uk-margin-small-left"></span>
            </div>
            <div class="uk-margin-left"><small class="friend-status">{{ friend.status }}</small></div>
        </li>

  
    </ul>
    <ng-template #noFriends>
        <p class="uk-text-meta uk-margin-left">Looks like its empty here...</p>
    </ng-template>
</div>
</aside>
