#navbar {
    background-color: #0439D9;
}

#top-nav-bar {
    background-color: #0439D9;
    border-bottom: 1px solid whitesmoke;

}

nav .uk-logo {
    font-family: 'Caveat', serif;

}

nav .uk-logo:hover {
    color: whitesmoke;

}

nav #side-nav-toggle, nav #account-icon {
    color: #F2F1DF;
}

nav #searchFriendsInput {
    border-radius: 5px;
}
