/* You can add global styles to this file, and also import other style files

*/

html, body {

    font-family: 'Montserrat', serif;

}

  .banner {
      background-color: #0439D9;
      
  }

  .title {
      color: whitesmoke;
      /* font-family: 'Caveat', serif; */
  }

  .custom-card-title {
    color: whitesmoke;
    font-family: 'Caveat', serif;

  }

  .heading-3 {
      color: #222c3c !important;
  }

  table {
    font-family: 'Raleway', sans-serif;

  }

  .modal {
    font-family: 'Raleway', sans-serif;

  }

  .uk-modal-header {
    background-color: #7aa39a;

  }

  .uk-modal-header .uk-modal-title {
    color: whitesmoke;

  }

  .donate-btn {
      background-color: tomato;
      color: whitesmoke;
  }

  .donate-btn:hover {
    background-color: tomato;
    color: whitesmoke;
}

  .add-btn {
      background-color: #044BD9;
      color: whitesmoke;
      border-radius: 5px;
  }

  .close-btn {
    background-color: whitesmoke;
    color: #222c3c;
    border-radius: 5px;
}

.uk-modal-close-default {
    color: whitesmoke;
}

.uk-modal-close-default:hover {
  background-color: #222c3c;
  border-radius: 50%;
  color: white;
}

/* Global button styles */
/* Global submit button styles */
#submitButton:disabled {
  background-color: #e5e5e5;
  color: #999;
} 

.sidebar {
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #F2F2F2;
  width: 280px;
  border-right: 1px solid #F2F2F2;
}

.logo-bar {
  height: auto;
  width: auto;
  padding: 0 20px;
  color: whitesmoke;
  background-color: #0439D9;
}
.logo-bar .minimised {
  display: none;
}

span.ulm-sidebar-item-icon {
  display: inline-block;
  width: 40px;
}

.sidebar-collapse .sidebar {
  width: 0px;
  text-align: center;
}

.sidebar-collapse ul.uk-nav-primary > li > a > span.sidebar-item-title {
  display: none;
}

.sidebar-collapse .page-container {
  margin-left: 80px;
}

.sidebar-collapse .logo-bar {
  width: auto;
}
.sidebar-collapse .logo-bar .fullsize {
  display: none;
}
.sidebar-collapse .logo-bar .minimised {
  display: block;
}

.page-container {
  height: 100%;
  margin-left: 280px;
  transition: 0.5s margin;
}