<!-- <div *ngIf="showNavBar" id="navbar" uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-light; top: 200">
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
    
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="#">Home</a></li>
                <li class="uk-active"><a href="#">How it works <span uk-icon="icon: info"></span></a></li>

            </ul>
    
        </div>
        <div class="uk-navbar-right">
    
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#"><span uk-icon="icon: user; ratio: 1.2"></span></a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">

                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Calendar</a></li>

                      
                            <li class="uk-nav-divider"></li>
                            <li><a (click)="logOut()" class="uk-text-danger" href="#">Logout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div> -->


<nav id="top-nav-bar" class="uk-navbar-container" uk-sticky>
    <div uk-navbar>
      <div class="uk-navbar-left">
        <div class="uk-logo logo-bar uk-navbar-item">
          <span class="fullsize">LazyChat</span>
          <span class="minimised">LazyChat</span>
        </div>
    

        <a href="#" class="uk-navbar-toggle" uk-navbar-toggle-icon uk-toggle="target: body; cls: sidebar-collapse"></a>
      </div>
      <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li>
                <a href="#"><span uk-icon="icon: user; ratio: 1.2"></span></a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">

                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Calendar</a></li>

                  
                        <li class="uk-nav-divider"></li>
                        <li><a (click)="logOut()" class="uk-text-danger" href="#">Logout</a></li>
                    </ul>
                </div>
            </li>
        </ul>
      </div>
    </div>
  </nav>
