<div class="uk-section uk-section-muted banner">
    <div class="uk-container">

        <h1><span class="title">My Account</span></h1>
        <!-- <h3>Your Account</h3> -->


        

    </div>
</div>

<div class="uk-flex uk-flex-center">
    <div class="uk-card uk-card-default uk-width-1-2@m uk-margin-large-top uk-margin-large-bottom">
        <div class="uk-card-header banner">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
                
                <div class="uk-width-expand">
                    <h2 class="uk-margin-remove-bottom custom-card-title">Login or Sign-Up</h2>
                    
                </div>
            </div>
        </div>
        <div class="uk-card-body">

            <ul id="uk-tab" uk-tab>
                <li><a href="#">Login</a></li>
                <li><a href="#">Sign-Up</a></li>
            </ul>

            <ul class="uk-switcher uk-margin">
                <li>
                   <!-- Login form -->
                   <app-login-form></app-login-form>
                </li>
                <li>
                    <!-- Signup form -->
                    <app-signup-form></app-signup-form>
                </li>
             
            </ul>

          
        </div>
       
    </div>
    
</div>
