<div id="modal-sections" class="modal" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title uk-text-light">New Reservation</h2>
        </div>
        <div class="uk-modal-body">
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
            <form [formGroup]="reservationForm" (ngSubmit)="reservationFormSubmit()" class="uk-form-horizontal uk-margin-large">


                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Person</label>
                    <div class="uk-form-controls">
                        <input formControlName="person" name="person" class="uk-input" id="form-horizontal-text" hidden>

                        <input class="uk-input" id="form-horizontal-text" #personInput placeholder="Person name..." (input)="filterItem(personInput.value)">
                        <small class="uk-text-danger" *ngIf="reservationForm.hasError('required', 'person')">Person is required.</small>

                        
                        <div *ngIf="filteredItems?.length > 0" id="personListCard" class="uk-card uk-card-default uk-card-body uk-padding-small uk-height-max-medium">
                            <div class="uk-card-header uk-padding-remove-left">
                                <div class="uk-grid-small uk-flex-middle" uk-grid>
                                    <div class="uk-width-auto">
                                        <small class="uk-text-info">Search results limited to ten. Scroll </small><span class="uk-margin-right" uk-icon="arrow-down"></span>
                                    </div>
                                </div>
                            </div>
                        <ul class="uk-list uk-list-divider">
                        <li id="selectPersonList" *ngFor="let item of filteredItems" (click)="selectPerson(item.id)">
                            

                            <div class="uk-grid-small" uk-grid>
                                <div><span class="uk-margin-small-right" uk-icon="user"></span></div>

                                <div>
                                    <div>{{item.name}}</div>
                                    <div><span class="uk-text-meta">{{ item.email }}</span></div>
                                    
                                </div>

                            </div>
                        </li>
                        </ul>
                        <div class="uk-card-footer uk-padding-remove-left uk-text-meta">
                            <small>End of results.</small>
                        </div>
                        </div>

                    </div> 
                </div>
            
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-select">Reservation Type</label>
                    <div class="uk-form-controls">
                        <select formControlName="reservationType" name="reservationType" class="uk-select" id="form-horizontal-select">
                            <option>Chat/ Messaging</option>
                            <option>In-person Visit</option>
                        </select>
                        <small class="uk-text-danger" *ngIf="reservationForm.hasError('required', 'reservationType')">Reservation type is required.</small>

                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Date</label>
                    <div class="uk-form-controls">
                        <input formControlName="date" name="date" class="uk-input" id="form-horizontal-text" type="date" placeholder="Choose date...">
                        <small class="uk-text-danger" *ngIf="reservationForm.hasError('required', 'date')">Date is required.</small>
                        <small class="uk-text-danger" *ngIf="reservationForm.hasError('pastDate', 'date')">Date is in the past.</small>


                    </div>
                </div>

                <div class="uk-margin">
                    <label class="uk-form-label" for="form-horizontal-text">Time</label>
                    <div class="uk-form-controls">
                        <input formControlName="time" name="time" class="uk-input" id="form-horizontal-text" type="time" placeholder="Choose time...">
                        <small class="uk-text-danger" *ngIf="reservationForm.hasError('required', 'time')">Time is required.</small>
                        <small class="uk-text-danger" *ngIf="reservationForm.hasError('pastTime', 'time')">Time is in the past.</small>

                    </div>
                </div>
            
                <div class="uk-margin">
                    <div class="uk-form-label">Send Invite</div>
                    <div class="uk-form-controls uk-form-controls-text">
                        <input formControlName="notify" name="notify" class="uk-checkbox" type="checkbox">
                       
                    </div>
                </div>
                
                <div class="uk-modal-footer uk-text-right">
                    <button type="button" class="uk-button uk-modal-close close-btn uk-margin-small-right">Cancel</button>
                    <button [disabled]="!reservationForm.valid" id="submitButton" type="submit" class="uk-button add-btn">Save</button>
                </div>

            
            </form>
            
        </div>
        
    </div>
</div>
